.navbar {
  padding: 12px 0;
  color: var(--spec-text-color-secondary);
  background-color: var(--theme-color-gray);
  
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;

  .nav_text {
    opacity: 0.5;
    transition: 0.2s all ease-out;
    &:hover {
      opacity: 0.3;
      transition: 0.2s all ease-out;
    }
  }
}

